<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.js"></script>
        <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
        <script src="https://unpkg.com/bootstrap@4.5.0/dist/js/bootstrap.js"></script>
        <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>

        <title>Cocosavon calc</title>
    </head>

    <body>
        <div class="container" id="vue_component">

            <div class="row">
                <div class="input-group">
                    <div class="col-xs-2">
                        <label class="control-label">Oil</label>
                    </div>
                    <div class="col-xs-7">
                        <select class="custom-select" v-model="selected_oil">
                            <template v-for="item in options_oil">
                                <option :value="item">{{ item.name }}</option>
                            </template>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-primary" @click="useThisOilClicked" :disabled="useThisButtonDisabledText"><i class="fa fa-plus-circle" aria-hidden="true"></i> Use this oil</button>
                    </div>
                </div>
            </div>

            <template v-for="oil in oils_array">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-5 col-xs-offset-2">{{ oil.名前 }}</div>
                    <div class="col-xs-2">
                        <input 
                            type="number" 
                            class="form-control"
                            :v-model="oil.quantity" 
                        />
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-danger" @click="deleteThisOilClicked($event, oil)"><i class="fa fa-minus-circle" aria-hidden="true"></i> Delete</button>
                    </div>
                    <!--
                    <div class="col-xs-2">{{ oil.saponification_number_naoh }} [mg/g]</div>
                    <div class="col-xs-2">{{ oil.saponification_number_koh }} [mg/g]</div>
                    -->
                </div>
            </template>
        </div>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-firestore.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
        <!--
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
        -->

        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                    apiKey: "AIzaSyAM8ZPiUa8kRT6Dcyt6oB3iLyeHnzIuYMg",
                    authDomain: "cocosavon-calc.firebaseapp.com",
                    databaseURL: "https://cocosavon-calc.firebaseio.com",
                    projectId: "cocosavon-calc",
                    storageBucket: "cocosavon-calc.appspot.com",
                    messagingSenderId: "1096447095262",
                    appId: "1:1096447095262:web:c0d752ee13cee0c55ead4f",
                    measurementId: "G-V4TXHE3DBG"
                  };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            var db = firebase.firestore();
            // firebase.analytics();
        </script>

        <script src="./calc.js"></script>
    </body>

</html>
