body {
    margin: 0;
    /*background: url("./bg-pattern.png") repeat;*/
    background: #fff9e0;
    color: grey;
} 
h2 {
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Varela Round', sans-serif;
}
.main-color {
    color: #e9967a;
}
.bg-selected {
    /*background-color: lightblue;*/
    background-color: rgba(0, 188, 212, 0.3)
}
.text-right {
    text-align: right;
}
